#profileImg {
    height: 70px;
  width: 70px;
  border-radius: 50%;
  /* margin: 15px 50% 15px 50%;
  transform: translate(-50%); */
  background-color: white;
}
#userName {
  color: #6a27d2;
}
/* LOGOUT BTN */
#logOut {
    margin: 0 10px;
    padding: 10px 10px;
    overflow: hidden;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;    
    text-transform: uppercase;
    border-width: 0;    
    outline: none;
  	background: linear-gradient(90deg, #49c2ff, #6a27d2);
}
/* --------------------------------- */
.limiter {
  padding: 10px 10px;
  display: block;
}
.divs {
 background-color: lightgray;
  border-radius: 2%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.header {
  padding: 5px 10px;
}
/* WEATHER ////////////////////////////////////// */
.weather {
  height: 150px;
}
.limiter .weather_block {
  display: flex;
  /* justify-content: center; */
  align-content: center;
  padding: 10px 10px;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid blueviolet;
  margin: 0;
}
.limiter .weather_block .weather_now {
  background-color: #fff;
  width: 100%;
}
.limiter .weather_block .weather_now img {
  float: left;
}
#weather_data {
  color: blueviolet;
}
#weather_temp {
  float: left;
  font-size: 20px;
  color: blueviolet;
  font-weight: bold;
  position: absolute;
  margin: -25px 0px 0px -210px;
}
.limiter .weather_block .weather_later {
  width: 50%;
  height: 100%;
  font-size: 13px;
  background-color: #f8f9fa;
  border-left: 1px solid blueviolet;
}
.limiter .weather_block .weather_later img {
  width: 30px;
  height: 30px;
}
.limiter .weather_block .weather_later .wlsh {
  color: blueviolet;
  font-weight: bolder;
}
/* AIR BLOCK ////////////////////////////////////// */
.limiter .weather .air_block {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  padding-top: 7px;
  font-size: 20px;
  font-style: italic;
  border-radius: 3%;
}

/* TO DO LIST ////////////////////////////////// */
.to_do_list {
  height: 300px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

  .app {
    display: flex;
    flex-direction: column;
    width: 100%; }

  .app__header {
      background-color: #f8f9fa;
    border-bottom: 1px solid blueviolet; }
  .app__title {
      font-size: 20px;
      font-weight: 600;
      /* padding: 8px 16px; */
      text-align: center; 
      color: #6a27d2;
  }
  .app__info {
      display: flex;
      /* padding: 8px 16px;  */
    }
      .app__info-item {
        align-items: center;
        flex-direction: column;
        flex: 1;
      color: blue; }
    .app__body {
      background-color: #f8f9fa; 
      height: 159px;
      max-height: 159px;
    overflow: scroll;}
    .app__footer {
      background-color: #f8f9fa;
      padding: 8px 16px; }
    .app__list-item {
      align-items: center;
      display: flex;
      position: relative; 
      background-color: #fff; 
      border-bottom: 1px solid blueviolet;
    }
        .app__list-item:hover .app__list-remove {
          opacity: 0.5; }
          .app__list-item:hover .app__list-remove:hover {
            opacity: 1; }
      .app__list-item.app__list-item--done {
        border-bottom: 1px solid blue; 
        background-color: #692bd324;
      }
        .app__list-item.app__list-item--done .app__list-text {
          text-decoration: line-through; }
    .app__list-text {
      cursor: pointer;
      flex: 1;
      line-height: 24px;
      padding: 8px 16px; }
    .app__list-remove {
      border: 1px solid blueviolet;
      border-radius: 50%;
      cursor: pointer;
      height: 32px;
      fles-shrink: 0;
      margin-left: auto;
      margin-right: 5px;
      opacity: 0;
      padding: 0 8px;
      transform: rotate(45deg);
      transition: all linear 0.3s;
      width: 32px; }
      .app__list-remove:before, .app__list-remove:after {
        content: "";
        background-color: blueviolet;
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%); }
      .app__list-remove:before {
        height: 3px;
        width: 20px; }
      .app__list-remove:after {
        height: 20px;
        width: 3px; }
    .app__task-new {
      border: 0;
      line-height: 30px;
      min-height: 30px;
      padding: 0 8px;
      width: 100%; }
  #add_tsk {
    margin-top: 10px;
    height: 30px;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;    
    text-transform: uppercase;
    border-width: 0;    
    outline: none;
    background: linear-gradient(90deg, #49c2ff, #6a27d2);
    width: 100%;
  }

/* calendar///////////////////////////////////// */
.calendar {
  height: 150px;
}
.fast_sms {
  height: 150px;
}
