#profileImg {
    height: 70px;
  width: 70px;
  border-radius: 50%;
  /* margin: 15px 50% 15px 50%;
  transform: translate(-50%); */
  background-color: white;
}
#userName {
  color: #6a27d2;
}
/* LOGOUT BTN */
#logOut {
    margin: 0 10px;
    padding: 10px 10px;
    overflow: hidden;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;    
    text-transform: uppercase;
    border-width: 0;    
    outline: none;
  	background: linear-gradient(90deg, #49c2ff, #6a27d2);
}
/* --------------------------------- */
.limiter {
  padding: 10px 10px;
}
.limiter div {
 background-color: lightgray;
  border-radius: 2%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.header {
  padding: 5px 10px;
}
/* WEATHER ////////////////////////////////////// */
.weather {
  height: 150px;
}

/* TO DO LIST ////////////////////////////////// */
.to_do_list {
  height: 300px;
}
.calendar {
  height: 150px;
}
.fast_sms {
  height: 150px;
}

/* WEATHER ////////////////////////////////////// */
.weather {
  height: 150px;
}
.limiter .weather_block {
  display: flex;
  /* justify-content: center; */
  align-content: center;
  padding: 10px 10px;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid blueviolet;
}
.limiter .weather_block .weather_now {
  background-color: #fff;
  width: 100%;
}
.limiter .weather_block .weather_now img {
  float: left;
}
#weather_data {
  color: blueviolet;
}
#weather_temp {
  float: left;
  font-size: 20px;
  color: blueviolet;
  font-weight: bold;
}
.limiter .weather_block .weather_later {
  width: 50%;
  height: 100%;
  font-size: 13px;
  background-color: #fcfcfc;
  border-left: 1px solid blueviolet;
}
.limiter .weather_block .weather_later img {
  width: 30px;
  height: 30px;
}
.limiter .weather_block .weather_later .wlsh {
  color: blueviolet;
  font-weight: bolder;
}